ul#nav li a#media {
	color: white;
}

div#thumbnails {
	height: 100px;
	margin-top: 20px;
}

div#center {
	margin: auto;
	background-color: blue;
}

div.img {
	height: 89px;
	width: 89px;
	border: solid white 1px;
	float: left;
	margin: 10px;
}